body{
  background-color: lightcyan;
}

li{
  list-style: none;
  text-decoration: none;
  display: flex;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
}

.conheca{
  display: center;
  text-align: center;
}

#btnConheca{
  width: 100%;
}

#texto{
  text-align: Left;
  color: darkblue;
  word-wrap: break-word;
}

#clique{
  text-align: Left;
  font-size: 11px;
  color: darkblue;
  word-wrap: break-word;
}

#imgum{
  border-radius: 5px;
}

#tituloImgum{
  text-align: center;
  color: darkblue;
  font-weight: 500;
 
}
#map{
  background-color: oldlace;;
  border: solid;
  width: 80vw;
  height: 50vh;
  margin-bottom: 8vh;
}
